---
layout: layouts/grammar-page.njk
titulo: 〜方
lectura: kata
jlpt: N4
significado:
  - la forma de...
  - la manera de...
estructura:
  - verb_no_masu | 方
similar:
---
{% from "macros/example.njk" import renderExample %}

## Uso

Se usa para hablar de la forma o manera de hacer algo.

## Ejemplo

{{ renderExample("このケーキの**{作|つく}り{方|かた}**を{教|おし}えてください。", "Por favor, enséñame cómo hacer esta torta.") }}

{{ renderExample("この{漢字|かんじ}の**{読|よ}み{方|かた}**がわかりますか？", "¿Sabes cómo se lee este kanji?") }}
