---
layout: layouts/grammar-page.njk
titulo: 〜ので
lectura: no de
jlpt: N4
significado:
  - dado que...
  - porque...
estructura:
  - adj_i | ので
  - adj_na | ので
  - noun | な | ので
  - verb_futsuu | ので
similar:
  - 〜から
---
{% from "macros/example.njk" import renderExample %}

## Uso

Se usa para indicar la causa de algo.

## Ejemplo

{{ renderExample("{今日|きょう}は{雪|ゆき}が{降|ふ}って**いるので**、{出|で}かけません。", "No saldré porque está nevando hoy.") }}

{{ renderExample("{頭|あたま}が{痛|いた}い**ので**、ちょっと{休|やす}みます。", "Me duele la cabeza, así que voy a descansar un poco.") }}
