---
layout: layouts/grammar-page.njk
titulo: 〜て見る
lectura: 〜te miru
jlpt: N4
significado:
  - probar hacer algo
  - intentar algo para ver qué pasa
estructura:
  - verb_te | みる
similar:
---
{% from "macros/example.njk" import renderExample %}

## Uso

Se usa cuando alguien hace algo por primera vez o como prueba, para experimentar el resultado o ver si le gusta.

## Ejemplo

{{ renderExample("このケーキ、おいしそうですね。{少|すこ}し**{食|た}べて見ます**。", "Esa torta parece rica. Voy a probar comer un poco.") }}

{{ renderExample("{日本語|にほんご}で{日記|にっき}を**{書|か}いて見ます**。", "Cuando probé escribir un diario en japonés, fue divertido.") }}
