---
layout: layouts/notebook-page.njk
titulo: 〜出来る
lectura: dekiru
jlpt: N4
significado:
  - poder hacer...
estructura:
  - V(dic)+こと+が出来る
  - S+が出来る
similar:
---

## Uso 1

Se usa para hablar de la habilidad o posibilidad de hacer algo, o de que algo está permitido.

## Ejemplo 1

{井上|いのうえ}さんはピアノが{出来|でき}ます。
**Traducción:** Inoue puede tocar el piano.

## Uso 2

Se usa para hablar de la finalización o logro de algo.

## Ejemplo 2

{宿題|しゅくだい}が{出来|でき}ました。
**Traducción:** He terminado la tarea.