---
layout: layouts/notebook-page.njk
titulo: 〜出来る
lectura: dekiru
jlpt: N4
significado:
  - poder hacer...
estructura:
  - verb_futsuu | こと | が出来る
  - noun | が出来る
similar:
---
{% from "macros/example.njk" import renderExample %}

## Uso

Se usa para hablar de la habilidad o posibilidad de hacer algo, o de que algo está permitido.

## Ejemplo

{{ renderExample("{井上|いのうえ}さんはピアノ**が{出来|でき}ます**。", "Inoue puede tocar el piano.") }}

## Uso

Se usa para hablar de la finalización o logro de algo.

## Ejemplo

{{ renderExample("{宿題|しゅくだい}**が{出来|でき}ました**。", "He terminado la tarea.") }}
