---
layout: layouts/notebook-page.njk
titulo: 〜かどうか
lectura: kadouka
jlpt: N4
significado:
  - si ... o no
estructura:
  - Aい+かどうか
  - Aな+かどうか
  - S+かどうか
  - V(futsuu)+かどうか
similar:
---

## Uso

Se usa para hablar de si algo es cierto o no, o para preguntar si algo es cierto o no. Usualmente se usa con verbos como {分|わ}かる, {知|し}る, {言|い}う.


## Ejemplo 1

{井上|いのうえ}さんが{来|く}るかどうか、{分|わ}かりますか？
**Traducción:** ¿Sabes si Inoue vendrá o no?

## Ejemplo 2

{大会|たいかい}が{中止|ちゅうし}になるかどうか、{知|し}りません。
**Traducción:** No sé si el torneo será cancelado o no.
