---
layout: layouts/notebook-page.njk
titulo: 〜んです
lectura: n desu
jlpt: N4
significado:
  - explicación o justificación
estructura:
  - Aい+んです
  - Aな+んです
  - S+な+んです
  - V(futsuu)+んです
similar:
---

## Uso

Se usa para explicar o justificar algo, para dar una razón o contexto a lo que se dice. También se puede usar para pedir una explicación o razón de algo.

## Ejemplo 1

どうして{遅|おそ}くなったんですか？

**Traducción:** ¿Por qué llegaste tarde?

## Ejemplo 2

{電車|でんしゃ}が{止|と}まっていたんです。

**Traducción:** Fue porque el tren se detuvo.