---
layout: layouts/notebook-page.njk
titulo: 〜んです
lectura: n desu
jlpt: N4
significado:
  - explicación o justificación
estructura:
  - adj_i | んです
  - adj_na | んです
  - sentence | な | んです
  - verb_futsuu | んです
similar:
---
{% from "macros/example.njk" import renderExample %}

## Uso

Se usa para explicar o justificar algo, para dar una razón o contexto a lo que se dice. También se puede usar para pedir una explicación o razón de algo.

## Ejemplo

{{ renderExample("どうして{遅|おそ}く**なったんです**か？", "¿Por qué llegaste tarde?") }}

{{ renderExample("{電車|でんしゃ}が{止|と}まって**いたんです**。", "Fue porque el tren se detuvo.") }}
