---
layout: layouts/notebook-page.njk
titulo: 〜ので
lectura: no de
jlpt: N4
significado:
  - dado que...
  - porque...
estructura:
  - Aい+ので
  - Aな+ので
  - S+な+ので
  - V(futsuu)+ので
similar:
  - 〜から
---

## Uso

Se usa para indicar la causa de algo.

## Ejemplo 1

{今日|きょう}は{雪|ゆき}が{降|ふ}っているので、{出|で}かけません。
**Traducción:** No saldré porque está nevando hoy.

## Ejemplo 2

{電車|でんしゃ}が{止|と}まっているので、{遅|おそ}くなりました。
**Traducción:** Llegué tarde porque el tren se detuvo.