---
layout: layouts/notebook-page.njk
titulo: 〜ので
lectura: no de
jlpt: N4
significado:
  - dado que...
  - porque...
estructura:
  - Aい+ので
  - Aな+ので
  - S+な+ので
  - V(futsuu)+ので
similar:
  - 〜から
---
{% from "macros/example.njk" import renderExample %}

## Uso

Se usa para indicar la causa de algo.

## Ejemplo

{{ renderExample("{今日|きょう}は{雪|ゆき}が{降|ふ}って**いるので**、{出|で}かけません。", "No saldré porque está nevando hoy.") }}

{{ renderExample("{電車|でんしゃ}が{止|と}まって**いるので**、{遅|おそ}くなりました。", "Llegué tarde porque el tren se detuvo.") }}
