---
layout: layouts/notebook-page.njk
titulo: 〜そうです
lectura: sou desu
jlpt: N4
significado:
  - parece que...
  - se ve...
estructura:
  - A-i-+そうです
  - Aな+そうです
  - V-ます-+そうです
similar:
---

## Uso

Se usa para describir la apariencia de algo o alguien, o la impresión que da al verlo.

## Ejemplo 1

このケーキ、おいしそうですね
**Traducción:** Esa torta parece rica.

## Ejemplo 2

{井上|いのうえ}さんは{早|はや}く{走|はし}れそうです。
**Traducción:** Parece que Inoue puede correr rápido.
