---
layout: layouts/notebook-page.njk
titulo: 〜そうです
lectura: sou desu
jlpt: N4
significado:
  - parece que...
  - se ve...
estructura:
  - A--i--+そうです
  - Aな+そうです
  - V--ます--+そうです
similar:
---
{% from "macros/example.njk" import renderExample %}

## Uso

Se usa para describir la apariencia de algo o alguien, o la impresión que da al verlo.

## Ejemplo

{{ renderExample("このケーキ、**おいしそうです**ね", "Esa torta parece rica.") }}

{{ renderExample("{井上|いのうえ}さんは{早|はや}く**{走|はし}れそう**です。", "Parece que Inoue puede correr rápido.") }}
