---
layout: layouts/notebook-page.njk
titulo: 〜て見る
lectura: 〜te miru
jlpt: N4
significado:
  - probar hacer algo
  - intentar algo para ver qué pasa
estructura:
  - V(て) + みる
similar:
---

## Uso

Se usa cuando alguien hace algo por primera vez o como prueba, para experimentar el resultado o ver si le gusta.

## Ejemplo 1

このケーキ、おいしそうですね。{少|すこ}し{食|た}べてみます。

**Traducción:** Esa torta parece rica. Voy a probar comer un poco.

## Ejemplo 2

{日本語|にほんご}で{日記|にっき}を{書|か}いてみたら、{楽|たの}しかった。

**Traducción:** Cuando probé escribir un diario en japonés, fue divertido.
