---
layout: layouts/kanji-page.njk
kanji: 動
on_yomi:
    - ドウ
kun_yomi:
    - うご
jlpt: N4
significado:
    - movimiento
vocabulario:
    - 動物:
        lectura: どうぶつ
        significado: animal
    - 運動:
        lectura: うんどう
        significado: ejercicio
    - 動く:
        lectura: うごく
        significado: moverse, funcionar
---
