---
layout: layouts/kanji-page.njk
kanji: 台
on_yomi:
    - ダイ
    - タイ
kun_yomi:
jlpt: N4
significado:
    - base
    - contador de máquinas
vocabulario:
    - 台所:
        lectura: だいどころ
        significado: cocina
    - １台:
        lectura: いちだい
        significado: una máquina/vehículo (contador)
    - 台風:
        lectura: たいふう
        significado: tifón
---
