---
layout: layouts/kanji-page.njk
kanji: 品
on_yomi:
    - モノ
kun_yomi:
    - しな
jlpt: N4
significado:
    - producto
    - artículo
vocabulario:
    - 食料品:
        lectura: しょくりょうひん
        significado: alimentos, productos comestibles
    - 品物:
        lectura: しなもの
        significado: artículo, mercadería
---
