---
layout: layouts/kanji-page.njk
kanji: 夜
on_yomi:
    - ヤ
kun_yomi:
    - よる
jlpt: N4
significado:
    - noche
vocabulario:
    - 今夜:
        lectura: こんや
        significado: esta noche
    - 夜:
        lectura: よる
        significado: noche
---
