---
layout: layouts/kanji-page.njk
kanji: 建
on_yomi:
kun_yomi:
    - た
jlpt: N4
significado:
    - construir
    - edificar
vocabulario:
    - 建てる:
        lectura: たてる
        significado: construir
    - 建物:
        lectura: たてもの
        significado: edificio
    - 二階建て:
        lectura: にかいだて
        significado: de dos pisos
---
