---
layout: layouts/kanji-page.njk
kanji: 物
on_yomi:
    - ブツ
    - モツ
kun_yomi:
    - もの
jlpt: N4
significado:
    - cosa
    - objeto
vocabulario:
    - 動物:
        lectura: どうぶつ
        significado: animal
    - 荷物:
        lectura: にもつ
        significado: equipaje
    - 買い物:
        lectura: かいもの
        significado: compras
    - 物:
        lectura: もの
        significado: cosa, objeto
---
