---
layout: layouts/kanji-page.njk
kanji: 着
on_yomi:
kun_yomi:
    - き
    - つ
jlpt: N4
significado:
    - ponerse
    - llegar
vocabulario:
    - 着物:
        lectura: きもの
        significado: kimono
    - 着く:
        lectura: つく
        significado: llegar
---
