---
layout: layouts/kanji-page.njk
kanji: 通
on_yomi:
    - ツウ
kun_yomi:
    - とお
    - かよ
jlpt: N4
significado:
    - tráfico
    - circulación
vocabulario:
    - 通る:
        lectura: とおる
        significado: pasar, ir a través de
    - 通り:
        lectura: とおり
        significado: calle, camino
    - 通う:
        lectura: かよう
        significado: asistir a
    - 交通:
        lectura: こうつう
        significado: tráfico, transporte
    - 普通:
        lectura: ふつう
        significado: normal, común
---
