---
layout: layouts/kanji-page.njk
kanji: 降
on_yomi:
kun_yomi:
    - ふ
    - お
jlpt: N4
significado:
    - caer
    - bajar
vocabulario:
    - 降る:
        lectura: ふる
        significado: llover, nevar
    - 降りる:
        lectura: おりる
        significado: bajar, descender
---
