---
layout: layouts/kanji-page.njk
kanji: 風
on_yomi:
    - フウ
kun_yomi:
    - かぜ
jlpt: N4
significado:
    - viento
    - resfriado
vocabulario:
    - 台風:
        lectura: たいふう
        significado: tifón
    - 風:
        lectura: かぜ
        significado: viento
    - 風邪:
        lectura: かぜ
        significado: resfriado
---
